<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78028363320-ufo5gb83sqggppftmvq15bnd1114mqp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78028363320-ufo5gb83sqggppftmvq15bnd1114mqp3</string>
	<key>API_KEY</key>
	<string>AIzaSyDD-FWHhUsgCjryUlfhZJysdb4NBY-HMs8</string>
	<key>GCM_SENDER_ID</key>
	<string>78028363320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.reactnativeapp</string>
	<key>PROJECT_ID</key>
	<string>react-native-firebase-tester</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-firebase-tester.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78028363320:ios:e017a63dfc0e08fa</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-firebase-tester.firebaseio.com</string>
</dict>
</plist>